@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 977px;
  margin: 0px auto;
  padding: 0 5px;
}

.container2 {
  max-width: 950px;
  margin: 0px auto;
  padding: 0 5px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  padding-top: 70px;
}

.header-logo h1 {
  color: #404040;
  font-family: "Bebas Neue";
  font-size: 37px;
}

.header-logo p {
  color: #404040;
  font-family: "Arial MT";
  font-size: 15px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav div {
  padding: 70px 7px 7px 7px;
  cursor: pointer;
}

.header-nav div:hover {
  background-color: #d45e5e;
}

.header-nav div:hover a {
  color: #fff;
}

.header-nav div:not(:last-child) {
  margin-right: 28px;
}

.header-nav div a {
  color: #404040;
  font-family: "HelveticaLight";
  font-size: 17px;
  text-transform: uppercase;
}

.content-home {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-home-title-text {
  -webkit-perspective: 600px;
          perspective: 600px;
  background-color: #fff;
}

.content-home-title-text p {
  padding: 10px;
  color: #404040;
  font-family: Cambria;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  font-style: italic;
  -webkit-transform: rotateX(15deg);
          transform: rotateX(15deg);
}

.content-home-title-img2 img {
  display: block;
  margin: 0px auto;
  position: relative;
  bottom: 40px;
  z-index: -1;
}

.content-home-title-img1 img {
  display: block;
  margin: 0px auto;
  position: relative;
}

.content-home-portfolio {
  display: block;
  margin-top: 53px;
}

.content-home-portfolio-title {
  color: #404040;
  font-family: Cambria;
  font-size: 23px;
  padding-bottom: 38px;
}

.content-home-portfolio-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 33px;
  grid-row-gap: 30px;
}

footer {
  background-color: #d45e5e;
  margin-top: 121px;
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr 2fr;
      grid-template-columns: 1fr 2fr 1fr 2fr;
}

.footer-img {
  background-color: aquamarine;
}

.footer-img img {
  display: block;
  position: relative;
  bottom: 40px;
  border: 7px solid #fff;
}

.footer-name {
  background-color: burlywood;
}

.footer-logo {
  background-color: coral;
}

.footer-skills {
  background-color: darkkhaki;
}

.footer-text {
  background-color: goldenrod;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
