footer {
  background-color: #d45e5e;
  margin-top: 121px;
  color: #ffffff;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  padding-bottom: 30px;
}
.footer-img {
  //   background-color: aquamarine;
  & img {
    display: block;
    position: relative;
    bottom: 40px;
    border: 7px solid #fff;
  }
}
.footer-name {
  //   background-color: burlywood;
  padding-top: 23px;
  & h4 {
    font-family: Cambria;
    font-size: 25px;
    margin-bottom: 12px;
  }
  & h5 {
    font-family: "PT Sans";
    font-size: 13px;
    background: url(/img/location.png) left no-repeat;
    padding-left: 20px;
  }
}
.footer-logo {
  //   background-color: coral;
  display: flex;
  justify-content: flex-end;
  padding-top: 31px;
  & img {
    height: 40px;
    &:first-child {
      padding-right: 27px;
    }
    &:last-child {
      padding-right: 13px;
    }
  }
}
.footer-skills {
  //   background-color: darkkhaki;
  margin: 0px auto;
  grid-row: 1/3;

  & h3 {
    padding: 63px 0 32px 0;
    font-family: Cambria;
    font-size: 25px;
  }
  & ul li {
    font-family: "PT Sans";
    font-size: 19px;
    &:not(:last-child) {
      padding-bottom: 11px;
    }
  }
}
.footer-text {
  //   background-color: goldenrod;
  grid-column: 1/4;
  grid-row: 2/3;
  & p {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 20px;
  }
}
