@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

// font-family: 'Bebas Neue', cursive;
// font-family: 'PT Sans', sans-serif;

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content {
  max-width: 977px;
  margin: 0px auto;
  padding: 0 5px;
}

////////////////////////////////////////////////
@import "_header";
